<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name= "cn" connectionString="Data Source=DESKTOP-J9USLQO\SQLEXPRESS;Initial Catalog=Cybersecurity_Company;Integrated Security=True"/>
	</connectionStrings>

	<!--
	<appSettings>
		<add key="Parent" value="Teams"/>
		<add key="ParentColumnNames" value="Tid,Designation,NoOfMembers,LeaderName"/>
		<add key="ParentId" value="Tid"/>
		<add key="SelectAllFromParent" value="SELECT * FROM Teams"/>

		<add key="Child" value="Employees"/>
		<add key="ChildColumnNames" value="Eid,Name,Surname,Age,Tid"/>
		<add key="ChildColumnNamesForUpdate" value="Name,Surname,Age,Tid"/>
		<add key="ChildColumnNamesForInsert" value="Eid,Name,Surname,Age,Tid"/>
		<add key="ChildId" value="Eid"/>

		<add key="SelectOneFromChild" value="SELECT * FROM Employees E WHERE E.Tid=@Tid"/>
		<add key="InsertChild" value="INSERT INTO Employees(Eid,Name,Surname,Age,Tid) VALUES (@Eid, @Name, @Surname, @Age, @Tid)"/>
		<add key="DeleteChild" value="DELETE FROM Employees WHERE Eid=@Eid"/>
		<add key="UpdateChild" value="UPDATE Employees SET Name=@Name, Surname=@Surname, Age=@Age, Tid=@Tid WHERE Eid=@Eid"/>

	</appSettings>
	-->

	
	<appSettings>
		<add key="Parent" value="MalwareAuthors"/>
		<add key="ParentColumnNames" value="Aid,Name,Surname,Location"/>
		<add key="ParentId" value="Aid"/>
		<add key="SelectAllFromParent" value="SELECT * FROM MalwareAuthors"/>

		<add key="Child" value="Malware"/>
		<add key="ChildColumnNames" value="Mid,Name,Type,Aid,Severity,MainExploitedVuln"/>
		<add key="ChildColumnNamesForUpdate" value="Name,Type,Aid,Severity,MainExploitedVuln"/>
		<add key="ChildColumnNamesForInsert" value="Name,Type,Aid,Severity,MainExploitedVuln"/>
		<add key="ChildId" value="Mid"/>

		<add key="SelectOneFromChild" value="SELECT * FROM Malware M WHERE M.Aid=@Aid"/>
		<add key="InsertChild" value="INSERT INTO Malware(Name,Type,Aid,Severity,MainExploitedVuln) VALUES (@Name,@Type,@Aid,@Severity,@MainExploitedVuln)"/>
		<add key="DeleteChild" value="DELETE FROM Malware WHERE Mid=@Mid"/>
		<add key="UpdateChild" value="UPDATE Malware SET Name=@Name, Type=@Type, Aid=@Aid, Severity=@Severity, MainExploitedVuln=@MainExploitedVuln WHERE Mid=@Mid"/>

	</appSettings>
	
	
</configuration>